#
# Copyright (c) 2020 Nordic Semiconductor
# Copyright (c) 2016-2025 Makerdiary <https://makerdiary.com>
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if LOG

menu "Event options"

comment "Initially logged events"

config IFMCU_LOG_MODULE_STATE_EVENT
	bool "Module state event"
	default y

config IFMCU_LOG_UART_DATA_EVENT
	bool "UART data event"
	default y

config IFMCU_LOG_CDC_DATA_EVENT
	bool "CDC data event"
	default y

config IFMCU_LOG_PEER_CONN_EVENT
	bool "Peer connection event"
	default y

config IFMCU_LOG_POWER_DOWN_EVENT
	bool "Power down event"
	default y

endmenu

endif
