#
# Copyright (c) 2020 Nordic Semiconductor
# Copyright (c) 2016-2025 Makerdiary <https://makerdiary.com>
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

module = IFMCU_UART
module-str = UART device
source "subsys/logging/Kconfig.template.log_config"

config IFMCU_CDC_ENABLE
	bool "Enable USB CDC ACM"
	depends on USB_DEVICE_STACK
	select USB_CDC_ACM
	help
		This option enables USB CDC ACM
		and exposes a COM port, bridging the UART0 interface.

if IFMCU_CDC_ENABLE

module = IFMCU_CDC
module-str = USB CDC ACM device
source "subsys/logging/Kconfig.template.log_config"

endif

config IFMCU_CMSIS_DAP_BULK_ENABLE
	bool "Enable USB Bulk"
	depends on USB_DEVICE_STACK
	select USB_DEVICE_BOS

config IFMCU_CMSIS_DAP_VENDOR_COMMANDS
	bool "Enable vendor specific commands"
	depends on IFMCU_CMSIS_DAP_BULK_ENABLE
	help
	  This option enables vendor specific commands for CMSIS-DAP Bulk.
	  Currently, these are only relevant for the nRF9151 Connect Kit board.

if IFMCU_CMSIS_DAP_BULK_ENABLE

module = IFMCU_BULK
module-str = USB Bulk device
source "subsys/logging/Kconfig.template.log_config"

config BULK_USB_THREAD_STACK_SIZE
	int "USB Bulk thread stack size"
	default 1024
	help
	  Size of stack for USB Bulk handler thread.

endif

if PM_DEVICE

module = IFMCU_POWER_MGMT
module-str = Interface MCU power management
source "subsys/logging/Kconfig.template.log_config"

endif

config IFMCU_BUF_SIZE
	int "Transport interface buffer size"
	default 512
	help
	  Size of transmit/receive buffer for transfer between interfaces.

config IFMCU_UART_BUF_COUNT
	int "UART buffer block count"
	default 3
	range 3 255
	help
	  Number of buffer blocks assigned for UART instances.
	  This value is scaled with the number of interfaces.
	  With the default instance count of 1, and for example 3 buffers,
	  the total will be 3 buffers.
	  Note that all buffers are shared between UART instances.

if LED

module = IFMCU_LEDS
module-str = Interface MCU leds
source "subsys/logging/Kconfig.template.log_config"

endif # LED

if CHARGER

module = IFMCU_CHARGER
module-str = Interface MCU charger
source "subsys/logging/Kconfig.template.log_config"

endif # CHARGER

if SETTINGS

module = IFMCU_SETTINGS
module-str = Interface MCU settings
source "subsys/logging/Kconfig.template.log_config"

endif # SETTINGS

config IFMCU_UTILS_ENABLE
	bool "Enable utils module"
	select SENSOR
	help
		This option enables utils modules.

if IFMCU_UTILS_ENABLE

module = IFMCU_UTILS
module-str = Utils module
source "subsys/logging/Kconfig.template.log_config"

endif # IFMCU_UTILS_ENABLE
